@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$color1: rgb(255, 102, 0); //#FF7C14
$color2: rgb(117, 117, 117); //#A7A7A7 167, 167, 167
$color3: rgb(32, 32, 32); //#202020
$color4: rgb(255, 255, 255); //#FFFFFF
$color5: rgba(17,17,17, .4); //#FF7200
$color6: rgb(0, 0, 0); //#000000

$font1: 'Open Sans', sans-serif;

a {
  font-weight: bold;

}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: .75rem;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 90%;
  background: url('../../assets/img/rockywall.png');
  border: 10px solid $color5;
  margin-top: 45px;
  margin-bottom: -50px;
}
ul {
  padding-top: 2.25rem;
}
li {
  position: relative;
  z-index: 100;
  list-style-type: none;
  border-left: 5px solid $color1;
  margin-left: -5px;
  padding-left: 5px;
}
span {
  opacity: .3;
}

dl {
  position: relative;
  z-index: 100;
}

dt {
  margin-top: 1.5rem;
}
body {
  font-family: $font1;


header {
  height: 100vh;
  background: linear-gradient($color5, $color5),
  url('../../assets/img/rockywall.png');
  color: $color4;

  a {
    color: $color4;
  }

  .logo {
    margin-top: -20vh;
  }

  .order {
    margin-top: 5vh;
    padding: 0;

    .row {
      margin-bottom: 1vh;
      padding-right: .625rem;
    }
    .columns {
      padding: .25rem;
    }
  }
}
main {
  .divider {
    margin-left: auto;
    margin-right: auto;
    width: 76px;
    height: 76px;
    background: $color1;
    border-radius: 50%;
    border: 5px solid $color4;
    div {
      margin: 3px auto auto 3px;
      padding-top: 2px;
      width: 60px;
      height: 60px;
      background: $color1;
      border-radius: 50%;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      color: $color4;
      border: 2px solid $color4;
    }
  }
  
  .logoDivider {
    margin-left: auto;
    margin-right: auto;
    width: 76px;
    height: 76px;
    background: $color4;
    border-radius: 50%;


    img {
      margin: 3px auto auto 3px;
      width: 70px;
    }
  }

  .BYOWok {
    margin-top: 1.5rem;

    p {
      text-align: center;
      margin-top: 1.5rem;
      font-size: .75rem;
    }

    .columns {
      padding-right: 0rem;
      padding-left: 0;
    }

    .sauce {
      margin-top: -45px;

      .divider {
        position: relative;
        z-index: 100;

        div{
          line-height: 1.1rem;
          padding-right: 2px;
        }
      }
    }

  }

  .orderBreak {

    hr {
      margin: 0;
      width: 100vw;
    }

    .row:nth-of-type(1) {
      width: 60%;
      margin: 1rem auto;
      padding: .25rem;
      border: 3px solid $color1;

      a {
        color: $color6;
      }
    }
    h4 {
      border-bottom: 1px solid $color5;
      width: 40%;
    }

  }

  .favoritesProtein {
    .divider div {
      padding-top: 5px;
      padding-right: 3px;
      font-size: 30px;
    }

    .columns {
      padding-right: 0rem;
      padding-left: 0;
    }

  }

  .favoritesStyle {
    .divider div {
      padding-top: 10px;
      font-size: 25px;
    }
    .columns {
      padding-right: 0rem;
      padding-left: 0;
    }
    .small-8 {
      padding-left: 5%;
    }
    img {
      max-width: 300%;
    }
    img:nth-of-type(1) {
      margin-left: -2.5rem;
    }
    img:nth-of-type(2) {
      margin-top: 200px;
      margin-left: -3rem;
      width: 200%;
    }

    img:nth-of-type() {
      width: 100%;
    }

  }

  .otherFavorites {

    margin-top: -45px;

    .logoDivider {
      position: relative;
      z-index: 100;
    }

    dl {
      width: 80%;
      margin-left: 10%;
    }
    .topFavorite {
      width: 60%;
    }

    .topFavorite:nth-of-type(1) {
      margin-left: -20%;
    }
    .topFavorite:nth-of-type(2) {
      margin-right: -20%;
      margin-top: -150px;
    }

    .bottomFavorite {
      width: 45%;
    }

  }
  .saladRolls {
    margin-top: -45px;

    .logoDivider {
      position: relative;
      z-index: 100;
    }

    dl {
      width: 80%;
      margin-left: 10%;
    }


  }
  .smallBites {
    margin-top: -45px;

    .logoDivider {
      position: relative;
      z-index: 100;
    }

    dl {
      width: 80%;
      margin-left: 10%;
    }
  }

  .quote {
    hr {
     margin-top: 0;
    }

    p {
      margin-left: 5%;
      margin-right: 5%;
    }
    p:nth-of-type(1) {
      margin-top: 1.5rem;
    }
    p:nth-of-type(2) {
      float: right;
    }

  }
  .resources {
    text-align: center;

    p:nth-of-type(1) {
      margin-top: 1.5rem;

    }

    .row {
      width: 60%;
      padding: 1rem 1rem;
      margin: 1rem auto;
      border: 3px solid $color1;
      font-weight: bold;
    }
  }

}
footer {
  background: #1a1a1a;
  font-size: 1.15rem;
  .columns {
    padding: 0;
  }
  .map {
    iframe {
      margin: 2.25rem 5%;
    }
  }
  .contact {
    color: $color4;

    .row {
      text-align: center;
      width: 80%;
      margin: 1.5rem auto;
    }

    a {
      color: $color1;
    }
    p {
      font-size: .66rem;
      text-align: center;
      margin-top: -1.5rem;
      margin-bottom: 0;
    }
  }

}
}